/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

header{
    height: 100px;
}

/* Utility */
.flex{
    display: flex;
}

.flex-horizontal-center{
    display: flex;
    justify-content: center;
}

.flex-vertical-center{
    display: flex;
    align-items: center;
}

.flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-page{
    height: 100vh;
}

.trasparent{
    background: none; 
}

/* body */
.head{
    height: 15vh;
}

.no-event{
    height: 10vh;
}

.foot{
    height: 75vh;
    flex-direction: column;
}

h1{
    width: 400px;
    text-align: center;
    font-size: 40px;
}

button{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
    background: #f74646;
    cursor: pointer;
    outline: none;
}

.nome-giorni,
.month-list{
    display: grid;
    grid-template-columns: repeat(7, 120px);
    list-style: none;
}

.nome-giorni li,
.month-list li{
    border-radius: 10px;
    margin: 3px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.month-list li span:nth-child(1) {
    padding: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.nome-giorni li:nth-child(6),
.nome-giorni li:nth-child(7){
    background: #f74646;
}

.nome-giorni li{
    background: white;
    line-height: 30px;
    margin-bottom: 40px;
}

.month-list li{
    height: 120px;
}

.month-list li.d-day{
    height: 30px;
    margin: 0 3px;
}

li.holiday {
    color: red;
}